body{
	background: -webkit-linear-gradient(180deg,#CFE2EB,#9DAEB9);
	background: -o-linear-gradient(180deg,#CFE2EB,#9DAEB9);
	background: -moz-linear-gradient(180deg,#CFE2EB,#9DAEB9);
	margin: 0px;
	padding: 0px;
}
.bar-header{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	height: 70px;
	width: 100%;
}
.bar-header-two{
	background: -webkit-linear-gradient(#122F40,#1C4F6C);
	background: -o-linear-gradient(#122F40,#1C4F6C);
	background: -moz-linear-gradient(#122F40,#1C4F6C);
	height: 127px;
	margin: 0 auto;
	width: 1232px;
}
.logo{
	float: left;
	margin-left: 70px;
	margin-top: -63px;
}
.image-header{
	float: left;
	margin-left: 170px;
	margin-top: -68px;
}
.slogan{
	background: url(../images/altacalidad-title.png) no-repeat;
	float: left;
	margin-left: 100px;
	margin-top: -10px;
	height:60px;
	width: 632px
}
.principal-toolbar{
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	height: 59px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
	width: 1232px;
}
.btn-principal-toolbar{
	background: -webkit-linear-gradient(#718894,#425662);
	background: -o-linear-gradient(#718894,#425662);
	background: -moz-linear-gradient(#718894,#425662);
	border-left: 1px solid #4C5E68;
	border-right: 1px solid #B0C2CC;
	color: white;
	font-size: 15px;
	font-family: myriad pro;
	font-weight: bold;
	float: left;
	text-align: center;
	list-style:none;
	padding-top: 21px;
	padding-bottom: 21px;
	width: 174px;
	&:hover {
		background: -webkit-linear-gradient(#627680,#34454E);
		background: -o-linear-gradient(#627680,#34454E);
		background: -moz-linear-gradient(#627680,#34454E);
	}
}
.icon-home{
	margin: 0 auto;
	margin-top: -7px;
}
.principal-ctn{
	margin: 0 auto;
	height: auto;
	width: 1150px;

}
.secon-toolbar{
	background: #F0F0F0;
	border-radius: 15px;
	float: left;
	height: 386px;
	margin-top: 20px;
	overflow: hidden;
	width: 215px;
}
.our-products{
	background: -webkit-linear-gradient(#1C4F6C,#122F40);
	background: -o-linear-gradient(#1C4F6C,#122F40);
	background: -moz-linear-gradient(#1C4F6C,#122F40);
	color: white;
	font-size: 15px;
	font-family: myriad pro;
	font-weight: bold;
	height: 25px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}
.automotriz{
	background-image: url(../images/arrow-automotriz.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	background-color: white;
	color: #000000;
	font-family: myriad pro;
	font-size: 13px;
	text-align: center;
	height: 20px;
	margin-top: 24px;
	margin-bottom: 15px;
	font-weight: bold;
	padding-top: 9px;
}
.total{
	background-image: url(../images/arrow-automotriz.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	background-color: white;
	color: #000000;
	font-family: myriad pro;
	font-size: 13px;
	text-align: center;
	height: 20px;
	margin-top: 107px;
	margin-bottom: 15px;
	font-weight: bold;
	padding-top: 9px;
}
.nav-filtros{
	background-image: url(../images/arrow-filtros.png);
	background-repeat: no-repeat;
	background-position: 18px 13px; 
	color: black;
	list-style: none;
	text-decoration: none !important;
	font-family: sans-serif;
	font-size: 13px;
	padding-left: 35px;
	height: 24px;
	padding-top: 11px;
	&:hover{
		background-color: #D6D6D6;
		background-image: url(../images/arrow-filtros.png);
		background-repeat: no-repeat;
		background-position: 18px 13px; 
	}
}
.industrial{
	background-image: url(../images/arrow-industrial.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	background-color: #2F672C;
	color: white;
	font-family: myriad pro;
	font-size: 13px;
	text-align: center;
	height: 20px;
	margin-top: 24px;
	margin-bottom: 15px;
	font-weight: bold;
	padding-top: 9px;
}
.social-network{
	float: left;
	height: 39px;
	width: 215px;
	position: relative;
	top: 435px;
	left: -215px;
}
.social-network2{
	float: left;
	margin-left: 85px;
	margin-top: 12px;
	height: 39px;
	width: 178px;
}
.content{
	background: white;
	border-radius: 10px;
	float: left;
	height: 453px;
	width: 889px;
	margin-left: 30px;
	margin-top: -19px;
}
.content-index{
	background: white;
	border-radius: 10px;
	float: left;
	height: 453px;
	margin-left: -148px;
	margin-right: 61px;
	margin-top: 20px;
	width: 585px;
}
.dress{
	font-size: 18px;
	text-align: center;
	font-family: myriad pro;
	width: 610px;
	height: 23px;
	float: left;
	font-weight: bold;
	margin-left: 353px;
	margin-top: 5px;
}
.footer{
	background: -webkit-linear-gradient(#1C4F6C,#122F40);
	background: -o-linear-gradient(#1C4F6C,#122F40);
	background: -moz-linear-gradient(#1C4F6C,#122F40);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: absolute;
	margin-top: 510px;
	color: white; 
	height: 61px;
	width: 1167px;
}
.mails{
	float: left;
	font-size: 13px;
	font-family: myriad pro;
	font-weight: bold;
	width: 202px;
	margin-top: 5px;
	float: left;
	font-size: 12px;
	font-family: myriad pro;
	font-weight: bold;
	width: 230px;
	margin-top: 10px;
	margin-left: 7px;
}
/*------------INTERNAS-------------*/
.pages-internas{
	background: url(../images/background-internas.png);
	border-radius: 10px;
	float: left;
	height: 453px;
	margin-left: 30px;
	margin-top: -19px;
	width: 889px;
}
.title-pedidos{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: white;
	font-size: 24px;
	font-family: myriad pro;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	height: 37px;
	width: 180px;
	float: left;
	margin-left: 20px;
	margin-top: 25px;
}
.ctn-form-online{
	background: #F0F0F0;
	height: 292px;
	width: 276px;
	margin-top: 80px;
	float: left;
	margin-left: 120px;
	border-radius: 10px;
	overflow: hidden;
}
.title-on-line{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	color: white;
	font-weight: bold;
	font-family: myriad pro;
	font-size: 25px;
	text-align: center;
	width: 100%;
	height: 44px;
	padding-top: 10px;
}
.ctn-form-pedidos{
	font-family: myriad pro;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.inisiar-sesion{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	border-radius: 5px;
	width: 140px;
	text-align: center;
	font-family: myriad pro;
	font-size: 15px;
	font-weight: bold;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-left: 31px;
	float: left;
	text-decoration: none;
	&:hover{
		background: -webkit-linear-gradient(#16303e,#000000);
		background: -o-linear-gradient(#16303e,#000000);
		background: -moz-linear-gradient(#16303e,#000000);
	}
}
.title-contactenos{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: white;
	font-size: 24px;
	font-family: myriad pro;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	height: 37px;
	width: 260px;
	float: left;
	margin-left: 320px;
	margin-top: 25px;
}
.ctn-form-contacto{
	/*background: #F0F0F0;*/
	height: 368px;
	width: 656px;
	float: left;
	margin-left: 142px;
	border-radius: 10px;
	overflow: hidden;
}
.ctn-form-contacto-left{
	font-family: myriad pro;
	float: left;
	width: 250px;
	height: 300px;
	margin-left: 40px;
	margin-top: 10px;
}
.ctn-form-contacto-right{
	font-family: myriad pro;
	float: right;
	width: 250px;
	height: 300px;
	margin-right: 40px;
	margin-top: 10px;
}
.enter-login{
	background: grey;
	color: white;
	width: 65px;
	text-decoration: none;
	height: 18px;
	text-align: center;
	font-size: 13px;
	float: left;
	margin-left: 64px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-radius: 5px;
	padding-top: 5px;
}
.ctn-form-mail{
	background: #F0F0F0;
	height: 360px;
	width: 276px;
	margin-top: 20px;
	float: left;
	margin-left: 310px;
	border-radius: 10px;
	overflow: hidden;
}
.ctn-catalog{
	width: 361px;
	height: 230px;
	float: left;
	margin-left: 40px;
	margin-top: 70px;
}
.title-catalogos{
	background: -webkit-linear-gradient(#0F2837,#000000);
	background: -o-linear-gradient(#0F2837,#000000);
	background: -moz-linear-gradient(#0F2837,#000000);
	color: #fabc2f;
	border-radius: 8px;
	font-weight: bold;
	font-family: myriad pro;
	text-align: center;
	font-size: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 361px;
}
.ctn-promo{
	width: 361px;
	height: 230px;
	float: right;
	margin-right: 40px;
	margin-top: 70px;
}
.img-catalogos{
	background: white;
	width: 326px;
	height: 202px;
	margin: 0 auto;
	border-left: 1px solid #1c4f6c; 
	border-right: 1px solid #1c4f6c; 
	border-bottom: 10px solid #1c4f6c; 
}
.red-arrow-right{
	float: right;
	margin-top: -45px;
	margin-right: 10px;
	position: relative;
}
.red-arrow-left{
	float: left;
	margin-top: -45px;
	margin-left: 10px;
	position: relative;
}
.home-arrow-right{
	float: right;
	margin-top: -271px;
	position: relative;
}
.home-arrow-left{
	float: left;
	margin-top: -260px;
	position: relative;
}
.pbx{
	font-size: 21px;
	font-family: myriad pro;
	float: left;
	margin-left: 581px;
	margin-top: -43px;
	font-weight: bold;
}


